body{
  background: linear-gradient(rgb(213,191,160) , black );
  padding: 0;
  margin: 0;
}
.drop{
	background: rgb(52,48,49);
	height: 100px;
	position: absolute;
  top: 0;
	width: 100%;
}
.drop .logo{
	margin: 25px 0 0 20px;
	float: left;
	color: #fff;
}
h1{
text-align: center;
font-size: 24px;
}
div.container{
width: 960px;
height: 610px;
margin:15% 0 5% 25% ;
position:relative;
}
div.main{
width: 450px;
float:left;
padding: 10px 55px 40px;
box-shadow: 0 0 10px;
border-radius: 2px;
font-size: 13px;
}
input[type=text],[type=password] {
width: 97.7%;
height: 34px;
padding-left: 5px;
margin-bottom: 20px;
margin-top: 8px;
box-shadow: 0 0 5px #00F5FF;
border: 2px solid #00F5FF;
color: #4f4f4f;
font-size: 16px;
}
textarea{
	box-shadow: 0 0 5px #00F5FF;
	border: 2px solid #00F5FF;
	color: #4f4f4f;
	font-size: 16px;
	width: 97.7%;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
}
label{
color: #fff;
font-size: 14px;
font-weight: bold;
}
#register {
font-size: 20px;
margin-top: 15px;
background: linear-gradient(rgb(11,11,99) 5%, #36caf0 100%);
border: 1px solid #0F799E;
padding: 7px 35px;
color: white;
text-shadow: 0px 1px 0px #13506D;
font-weight: bold;
border-radius: 2px;
cursor: pointer;
width: 100%;
}
#register:hover{
background: linear-gradient(#36caf0 5%, rgb(11,11,99) 100%);
}
